.food-item-container {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

/* #underline {
  display: block;
  background-color: red;
  height: 1rem;
  width: 100%;
  overflow: hidden;
} */

.food-item-container h2 {
  margin: 0;
  display: inline;
}

.food-item-container ul {
  list-style: none;
  flex: 1;
  margin: 0;
  padding: 0;
}

.food-item-container ul li {
  padding: 0.2rem;
}

.food-item-container ul li:nth-of-type(3) {
  color: brown;
}

.food-item-container form input {
  height: 2rem;
  width: 3rem;
  margin-left: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.food-item-container form button {
  display: block;
}
